# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=INDIANCOIN Core
Comment=INDIANCOIN Core QT main network
GenericName=INDIANCOIN Digital Currency QT client main network
Exec=indiancoin-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/indiancoin.png
MimeType=x-scheme-handler/indiancoin;
Categories=X-Office;X-Finance;
Keywords=internet;indiancoin;zind;ind;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
