# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=INDIANCOIN Core Daemon SNAP
Comment=main
GenericName=INDIANCOIN Digital Currency Daemon Client main network
Exec=indiancoin-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/indiancoin.png
MimeType=x-scheme-handler/ind;
Categories=X-Office;X-Finance;
Keywords=internet;indiancoin;zind;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
